libraries/
world/
world_nether/
world_the_end/
cache/
plugins/CombatLogX/playerdata/
logs/
*_active_*/
plugins/Matrix/config.yml
plugins/Matrix_7.0.0_alpha08.jar
plugins/Essentials/userdata/
plugins/Essentials/userdata-npc-backup/
plugins/Essentials/usermap.csv
plugins/Essentials/usermap.bin
plugins/Essentials/uuids.bin
plugins/LuckPerms/libs/
plugins/LuckPerms/translations/
plugins/LuckPerms/editor-keystore.json
plugins/LuckPerms/yaml-storage/
plugins/LuckPerms/config.yml
plugins/ProtocolLib/lastupdate
plugins/WorldEdit/sessions/
plugins/WorldEdit/schematics/
plugins/WorldEdit/.archive-unpack/
plugins/PremiumVanish/data.yml
plugins/TAB/placeholder-errors.log
plugins/TAB/errors.log
plugins/spark/activity.json
plugins/SIR/data/ignore.yml
plugins/HolographicDisplays/database.yml
usercache.json
abrir.bat
*.db
map-color-cache.dat
ops.json
paper.yml-README.txt
permissions.yml
version_history.json
whitelist.json
banned-ips.json
banned-players.json
eula.txt
.console_history